body {
  margin: 0;
  padding: 0;
  height: 360vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#base-img,
#noise-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#base-img {
  z-index: 1;
  opacity: 0.96;
  pointer-events: none;
}
#noise-img {
  z-index: 2;
  opacity: 0.77;
  pointer-events: none;
  
}

#new-resite i{
  position: absolute;
  font-size: 40px;
  z-index: 4;
  top:2%;
  right: 800px;
}



.resite-form {
  position: relative;
  width: 400px;
  height: 300vh;
  margin: 0 auto;
  z-index: 3;
  border: 4px solid pink;
  background-color: white;
  margin-top: -260px;
}

.top-box {
  display: flex;
  position: relative;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#logo {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: 80px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 33, "SCAN" -7;
  margin-top: 45px;
  margin-left:5px;
  margin-bottom: 10px;
  font-size: 40px;
}

#date{
  font-family: "Workbench", sans-serif;
  font-optical-sizing: 80px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 33, "SCAN" -7;
  margin-top: 20px;
  margin-right: -230px;
  margin-bottom: 10px;
  font-size: 20px;
}

.logo-dot-line {
  border: 1px dashed pink;
  width: 360px;
  margin: 3px;
}

#movie {
  font-family: "Doto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "ROND" 63;
  margin-left: -40px;
  margin-top: 20px;
}

#movie-title {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

#director {
  margin-top: 25px;
  font-size: 23px;
  font-family: "Sancreek", serif;
  font-weight: 200;
  font-style: normal;
}

#dir-name {
  margin-top: 8px;
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: lighter;
  font-style: italic;
}

#star-icons i {
  margin-top: 19px;
  margin-left:5px;
  color: "";
  cursor: pointer;
  user-select: none;  
  transition: color 0.01s ease;
}

#star-icons i.active{
  color: palegoldenrod;
}


.top-box-dot-line {
  border: 1px dashed black;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.user-review p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.8;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  
}

/* last box css*/

.user-review div {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
}

.index-box {
  font-family: "Special Elite", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  
}

#watcha-pedia {
  font-family: "Maiden Orange", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 70px;
  margin-bottom: -50px;
  font-size: 28px;
}

#watcha-qr {
  width: 290px;
  height: 290px;
  padding-top: 20px;
  margin-left: 45px;
  margin-top: -120px;
  margin-bottom: 50px;
  pointer-events: none;
}



.cast-character span {
  margin-left: 50px;
  margin-right: 80px;
}

.act-form-dot-line {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actor-card {
  display: flex;
  flex-direction: column;
}

.actor-name {
  margin-left: 15px;
  font-family: "Diphylleia", serif;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.actor-card img {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  border: 2px dotted black;
  margin-left: 40px;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Diphylleia", serif;
  font-size: 18px;
}

.character-card i {
  margin-top: -40px;
  margin-left: -50px;
}

.character-card div {
  margin-top: 29px;
  margin-bottom: 80px;
  margin-left: -50px;
}

#actor-inform-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 2열을 동일한 너비로 나눔 */
  gap: 20px;
  justify-content: center;
}

.act-form-dot-line-end {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom:10px;
}

.act-form-dot-line--end{
  /* tag 박스 점선 마지막 라인 */
  border: 1px dashed black;
  width: 300px;
  margin-top: 10px;
  margin-left: 40px;
}


#share{
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.sharing-thing i {
  margin-left: 40px;
  margin-bottom: 70px;
  margin-top: 20px;
} 

#people-tag div{
  font-family: "Doto", sans-serif;
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "ROND" 63;
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 10px;
}


#people-tag span{
  font-family: "Diphylleia", serif;
  font-size: 18px;
  font-style: italic;
  margin-left: 40px;
  margin-right: -33px;
}

.bar-cod img{
  margin-top:380px;
  width: 100%;
  pointer-events: none;
}