/* modebtn font ( edit.html -> save ,edit 버튼) */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

/* nav-bar font */
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

/* 'Tag'적용 폰트 */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

/* 'share' 적용폰트 */
@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");

/* 왓챠피디아 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

/* part-one 폰트리스트 */

@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");
/* 'resite' 적용폰트 */
/* '날짜' 적용폰트 */

@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

/* 'movie-title' 적용폰트 */
/*'밀양' 적용폰트 */
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

/* 'movie director' 적용폰트 */
/*'이창동' 적용폰트*/
@import url("https://fonts.googleapis.com/css2?family=Sancreek&display=swap");

/* part-two font list */
/* 리뷰(영어) 적용 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Sancreek&family=Stardos+Stencil:wght@400;700&display=swap");

/* part-three font list */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&family=Stardos+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");
