body {
  margin: 0;
  padding: 0;
  height: 500vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#base-img,
#noise-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#base-img {
  z-index: 1;
  opacity: 0.96;
  pointer-events: none;
}
#noise-img {
  z-index: 2;
  opacity: 0.77;
  pointer-events: none;
}

/*  영수증 css*/
.receipt-form {
  position: relative;
  width: 400px;
  height: 400vh;
  margin: 0 auto;
  z-index: 3;
  border: 2px solid black;
  background-color: white;
  margin-top: -230px;
}

#watcha-pedia {
  font-family: "Maiden Orange", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 70px;
  margin-bottom: -50px;
  font-size: 28px;
}

#watcha-qr {
  width: 290px;
  height: 290px;
  padding-top: 20px;
  margin-left: 45px;
  margin-top: -120px;
  margin-bottom: 50px;
  pointer-events: none;
}

.act-form-dot-line-end {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.act-form-dot-line--end {
  /* tag 박스 점선 마지막 라인 */
  border: 1px dashed black;
  width: 300px;
  margin-top: 10px;
  margin-left: 40px;
}

#share {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 12px;
}

.sharing-thing i {
  margin-left: 40px;
  margin-bottom: 70px;
  margin-top: 20px;
}

#people-tag div {
  font-family: "Doto", sans-serif;
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "ROND" 63;
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 10px;
}

#people-tag span {
  font-family: "Diphylleia", serif;
  font-size: 18px;
  font-style: italic;
  margin-left: 40px;
  margin-right: -33px;
}

.bar-cod img {
  margin-top: 400px;
  width: 100%;
  pointer-events: none;
}
