body {
  margin: 0;
  padding: 0;
  height: 500vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#base-img,
#noise-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#base-img {
  z-index: 1;
  opacity: 0.96;
  pointer-events: none;
}
#noise-img {
  z-index: 2;
  opacity: 0.77;
  pointer-events: none;
}

/*  영수증 css*/
.receipt-form {
  position: relative;
  width: 400px;
  height: 400vh;
  margin: 0 auto;
  z-index: 3;
  border: 2px solid black;
  background-color: white;
  margin-top: -230px;
}

.act-form-dot-line-end {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.act-form-dot-line--end {
  /* tag 박스 점선 마지막 라인 */
  border: 1px dashed black;
  width: 300px;
  margin-top: 10px;
  margin-left: 40px;
}
