/* resite 공통css */
@import "./components/part-one.css";
@import "./components/part-two.css";
@import "./components/part-three.css";
@import "./components/part-etc.css";

/* components css */
@import "./components/star-icons.css";
@import "./components/click-modal.css";
@import "./components/modebtn.css";

/* 애니메이션 css */
@import "./animations/attention.css";

/* 폰트 stlye */
@import "./font.css";

@import "./components/navBar.css";
