@import "reset.css";
@import "login.css";
@import "edit.css";

@import "preview.css";

/* components css */
@import "./components/part-one.css";
@import "./components/part-one.css";
@import "./components/navBar.css";