.character-icon-modal i {
  font-size: 28px;
}

.closebtn {
  font-size: 15px;
  border-radius: 18%;
  width: 55px;
  height: 30px;
  margin-top: 15px;
  margin-left: -8px;
  background-color: white;
}

.character-icon-modal {
  z-index: 5;
  width: 35px;
  height: 180px;
  border-radius: 14px;
}

.icons-op {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
