.modebtn {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.editbtn {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.savebtn {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
