.modebtn {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
.editbtn {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.savebtn {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.modebtn-bot-line {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 2px;
}
