.nav-bar-box {
  z-index: 4;
  height: 250px;
  width: 120px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 8px;
  position: fixed;
  top: 300px;
  right: 320px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.nav-list {
  display: block;
  margin-top: 40px;
}

.nav-list a:visited,
.nav-list a {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}
