.nav-bar-box {
  z-index: 4;
  height: 420px;
  width: 120px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 8px;
  position: fixed;
  top: 300px;
  right: 275px;
}

.nav-bar a {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.nav-bar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
