@import url("https://fonts.googleapis.com/css2?family=Sancreek&family=Stardos+Stencil:wght@400;700&display=swap");
/* 리뷰(영어) 적용 폰트 */

.user-review {
  min-height: 300px;
}

.user-review {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
}

.user-review p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.8;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}

.user-review[contenteditable="true"]:empty::before {
  content: "리뷰를 입력하세요.";
  color: #999;
}

/* 커서 이동 엔터 할때 폰트 무너짐 방지 */
.user-review,
.user-review * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.user-review p,
.user-review div {
  margin: 0;
}

.user-review[contenteditable="true"] p,
.user-review[contenteditable="true"] div {
  margin: 0;
}
