@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* 'Tag'적용 폰트 */

@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");
/* 'share' 적용폰트 */

.move-tag-title {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.move-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 10px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.move-tag-list div {
  display: flex;
  align-items: center;
  width: 80px;
  height: 25px;
  border: 2px solid black;
  border-radius: 17px;
  padding: 2px;
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

.tag-control {
  display: flex;
  margin-top: 30px;
  margin-left: 240px;
  gap: 30px;
  margin-bottom: 40px;
}

.tag-text::before {
  content: "#";
}

.search-movie {
  margin-left: 40px;
  margin-top: 60px;
  display: flex;
  gap: 4px;
}

.search-bar {
  width: 260px;
  height: 30px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search-bar span {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  font-style: italic;
  opacity: 0.4;
}
.watcha-pedia {
  font-family: "Maiden Orange", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 40px;
  font-size: 25px;
  margin-top: 40px;
}

.watcha-pedia i {
  margin-right: 10px;
}

.bar-cod img {
  margin-top: 120px;
  width: 100%;
  pointer-events: none;
}
