/* part-three css*/
.part-three {
  margin-bottom: 60px;
}

.act-form-dot-line {
  border: 1px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actor-card {
  display: flex;
  flex-direction: column;
}

.actor-name {
  margin-left: 15px;
  font-family: "Diphylleia", serif;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Diphylleia", serif;
  font-size: 18px;
}

.character-card i {
  margin-top: -40px;
  margin-left: -50px;
}

.character-card div {
  margin-top: 29px;
  margin-bottom: 80px;
  margin-left: -50px;
}

.cast-character-box {
  font-family: "Special Elite", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
.cast-character-list span {
  margin-left: 50px;
  margin-right: 5px;
}

.cast-character-line {
  border: 2px dashed black;
  width: 300px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.actor-card-one,
.actor-card-two,
.actor-card-three {
  display: flex;
  margin-top: 30px;
}

.actor-card-one div,
.actor-card-two div,
.actor-card-three div {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-right: 12px;
}

.actor-name {
  font-family: "Diphylleia", serif;
  font-size: 18px;
}

.character-name {
  font-family: "Diphylleia", serif;
  font-size: 18px;
  margin-left: 50px;
}

.actor-card-click {
  margin-left: 45px;
}
