@import url("https://fonts.googleapis.com/css2?family=Sancreek&family=Stardos+Stencil:wght@400;700&display=swap");
/* 리뷰(영어) 적용 폰트 */

.user-review {
  min-height: 300px;
}

.user-review div {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
}
.user-review p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.8;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}
