.star-icons i {
  margin-top: 40px;
  margin-left: 5px;
  color: "";
  cursor: pointer;
  user-select: none;
  transition: color 0.01s ease;
}

.star-icons i.active {
  color: palegoldenrod;
}

.socre-show-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  margin-top: 100px;
  border: 2px dashed black;
  border-radius: 3px;
  font-family: "Diphylleia", serif;
  font-size: 18px;
}

.double-box-dot-line {
  border: 1px dashed black;
  width: 340px;
  margin-top: 100px;
  margin-bottom: 80px;
}
